@import url("https://fonts.googleapis.com/css2?family=Gudea:ital,wght@0,400;0,700;1,400&display=swap");

body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  background: #e5193d;
}

.menu a:hover{
  color: #e5193d;

}

.container {
  width: 80%;
  height: 100vh;
  background-color: #232731;
  float: right;
  font-family: "Gudea", sans-serif;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
  color: white;
  font-family: "Gudea", sans-serif;
  align-items: center;
  color: #fff;
  text-align: center;
  font-family: Gudea;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.7px;
}


li{
  display: flex;
  gap: 2rem;
}



.logo {
  display: flex;
  padding: 10px;
  width: 65.605px;
height: 88.658px;
}

.logo img{
    margin-right: 3.5rem;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page1 {
  background-color: #232731;
  margin-left: -10rem;
  padding: 1.5rem;
  height: 65vh;
}
.active {
  border-bottom: 1px solid rgb(255, 255, 255);
  color: #e5193d;
}

h2 {
  font-family: poppins;
  width: fit-content;
  font-weight: 500;
  margin-left: 3rem;
  border-width: 0.2rem;
  overflow: hidden;
  color: white;
}
.titlehead{
  font-size: 2.5rem;
  border-bottom: 2.5px solid #e5193d; 

}
p {
  color: white;
  font-family: "Gudea", sans-serif;
  font-size: 30px;
  margin-left: 3rem;
  width: 50%;
  font-weight: 300;
  color: white;
  height: 50%;
  margin-top: 3rem;
}

.bold {
  font-weight: 600;
}

.colored-text {
  color: #e5193d;
}

.btn {
  height: 69px;
  margin-left: 3rem;
  background: #e5193d;
  border: none;
  padding: 1.5rem;
  color: white;
  justify-content: center;
  font-weight: 700;
  font-size: 30px;
  font-family: Gudea;
  display: flex;

  align-items: center;
  border: none;
}

.icon {
  width: 33px;
  height: 41px;
  padding: 33px;
}

.actions {
  display: flex;
  margin-top: -1.4rem;
}
button {
  margin: 15px;
}

.social-logos {
  display: flex;
  justify-content: right;
  list-style: none;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
  margin-right: 3rem;
}

.footer-icon {
  width: 25px;
}

.speaker-card{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;  


}

.titleprizes{
  font-size: 55px;
  font-family: Gudea;
  font-weight:700;
  text-overflow: clip;
  width: fit-content;
  border-bottom: 2px solid #e5193d;
}



.speaker-img{
  background: #D9D9D9;
    width: 150px;
height: 150px;
}

.speakers-sec{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  width: 80%;
  margin-left: 3rem;
  margin-bottom: 2rem;
}
.speaker-info{
  color: white;
  font-family: Gudea;
  font-size: 25x;
  width: 150px;
  height: 150px;
  justify-content: center;
  text-align: center;
  align-content: center;
  display: flex;
  flex-direction: column;
}

.speaker-name{
  font-size: 1.6rem;
  font-weight: 600;
}

nav button{
  display: none;
}
.xy{
    height: 35vh;
    width: 23%;
    
  }   
  
  .op{
    height: 35vh;
    width: 23%;
    padding-left: 9%;
  }
  .news{
   
    width: 80%;
    margin-top: 2.5rem;
    margin-left: 10%;
  }



a { color: inherit;
  text-decoration: none;} 


  @media screen and (min-width: 380px) and (max-width: 600px) {
    .menu {
      display: flex;
      flex-direction: column;

    }
    .menu a:hover{
      color: #232731;
    
    }
    .menu li {
      display: none;
      flex-direction: column;
      position: absolute;
      background: #e5193d;
      margin-top: 30rem;
      right: 2rem;
      width: 50%;
      box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.9) ;
      padding-bottom: 1rem;
      border-radius: 10px;
      
    }
    .menu li a{
      box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.6) ;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    a:hover{
      color:#232731;
    }
    .menu .logo{
      display: block;
    
    }

    .container{
      width: 50%;
      height: 102vh;
      background-color: #232731;
      justify-content: center;
      font-family: "Gudea", sans-serif;
      
    }

    .page1{
      height: 80vh;
    }
    
    .pagep{
      height: 80vh;

    }

    .title{
      width:90% ;
      font-size: 1.5rem;
      font-weight: 600;
      margin-left: 1rem;
    }
    .titlehead{
      font-size: 1.5rem;
      margin-left: 0;
    }

    .page1 p{
      font-size: 20px;
      width: 80%;
      padding-top: 3rem;
      margin-left: 1rem;
      margin-bottom: -4rem;
      margin-top: 0rem;
    }

    .btn{
      font-size: 1rem;
      height: 25px;
      margin-left: 1rem;
      align-items: center;

    }

    .actions{
      display: flex;
      flex-direction: column;
    }

    
    .social-logos{
      padding: 0rem;
    }
    .icon {
      width: 25px;
      height: 25px;
      padding: 10px;
    }

    .icon img{
      height: 100%;
      width: 100%;
    }

    .logo{
      height: 50px;
      margin-left: -25rem;
      padding: 10px;
    }
    nav button{
      display:inline-block;
      background: transparent;
      color:var(--color-light);
      font-size: 1.8rem;
      cursor: pointer;
    }

    nav button#close-btn {
        display: none;
        
        position: absolute;
        right: 2rem;
        color: #e5193d;
        border: none;

    }
    nav button#open-btn {
      display: flex;
      position: absolute;
      right: 2rem;
      color: #e5193d;
      border: none;

    }
    .titleprizes{
      width:fit-content;
      margin: 0;
    }
    .speakers-sec{
      width: 100%;
      display: flex;
      flex-direction: column;
      

    }
    .speaker-card{
      width: 90%;
      padding: ;
      margin-top: 1rem;
    }
    .speaker-img{
       height: 100px;
       width: 100px;
    }
    .speaker-info{
      height: 100px;
      width: 100px;
   }
    .prizediv{
      background: #232731;
      padding: 15px;
      width: 100%;
      margin-left: -1rem;
    }
    .hide{
      display: none;
    }
    

    .social-logos{
      display:  ;
    }
    
    .news{
        height: 86vh;
        margin-left: 3.4rem;
       }
       .container{
           height: 126vh;
       }
       #elon{
           height: 27vh;
           width: 80%;
       }
       #musk{
           height: 27vh;
           width: 80%;
           margin-top: 2rem;
       }
       #idiot{
           height: 27vh;
           width: 80%;
           margin-top: 2rem;
       }
       .op{
           padding-left: 0;
       }
       .page1{
           height: 105vh;
       }
       .titleprizes{
        font-size: 50px;
       }
  }
    
  





  @media screen and (min-width: 300px) and (max-width: 379px) {
    .menu {
      display: flex;
      flex-direction: column;

    }
    .menu a:hover{
      color: #232731;
    
    }
    .menu li {
      display: none;
      flex-direction: column;
      position: absolute;
      background: #e5193d;
      margin-top: 30rem;
      right: 2rem;
      width: 50%;
      box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.9) ;
      padding-bottom: 1rem;
      border-radius: 10px;
      
    }
    .menu li a{
      box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.6) ;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    a:hover{
      color:#232731;
    }
    .menu .logo{
      display: block;
    
    }

    .container{
      width: 50%;
      height: 107vh;
      background-color: #232731;
      justify-content: center;
      font-family: "Gudea", sans-serif;
      
    }

    .page1{
      height: 80vh;
    }
    
    .pagep{
      height: 80vh;

    }

    .title{
      width:90% ;
      font-size: 1.5rem;
      font-weight: 600;
      margin-left: 1rem;
    }
    .titlehead{
      font-size: 1.5rem;
      margin-left: 0;
    }

    .page1 p{
      font-size: 20px;
      width: 80%;
      padding-top: 3rem;
      margin-left: 1rem;
      margin-bottom: -4rem;
      margin-top: -1rem;
    }

    .btn{
      font-size: 1rem;
      height: 25px;
      margin-left: 1rem;
      align-items: center;

    }

    .actions{
      display: flex;
      flex-direction: column;
    }

    
    .social-logos{
      padding: 0rem;
    }
    .icon {
      width: 25px;
      height: 25px;
      padding: 10px;
    }

    .icon img{
      height: 100%;
      width: 100%;
    }

    .logo{
      height: 50px;
      margin-left: -25rem;
      padding: 10px;
    }
    nav button{
      display:inline-block;
      background: transparent;
      color:var(--color-light);
      font-size: 1.8rem;
      cursor: pointer;
    }

    nav button#close-btn {
        display: none;
        
        position: absolute;
        right: 2rem;
        color: #e5193d;
        border: none;

    }
    nav button#open-btn {
      display: flex;
      position: absolute;
      right: 2rem;
      color: #e5193d;
      border: none;

    }
    .titleprizes{
      width:fit-content;
      margin: 0;
      font-size: 34px;
    }
    .speakers-sec{
      width: 100%;
      display: flex;
      flex-direction: column;
      

    }
    .speaker-card{
      width: 90%;
      padding: ;
      margin-top: 1rem;
    }
    .speaker-img{
       height: 100px;
       width: 100px;
    }
    .speaker-info{
      height: 100px;
      width: 100px;
   }
    .prizediv{
      background: #232731;
      padding: 15px;
      width: 100%;
      margin-left: -1rem;
    }
    .hide{
      display: none;
    }
    

    .social-logos{
      display:  ;
    }
    .news{
     height: 86vh;
     margin-left: 3.4rem;
    }
    .container{
        height: 132vh;
    }
    #elon{
        height: 27vh;
        width: 67%;
    }
    #musk{
        height: 27vh;
        width: 67%;
        margin-top: 2rem;
    }
    #idiot{
        height: 27vh;
        width: 67%;
        margin-top: 2rem;
    }
    .op{
        padding-left: 0;
    }
    .page1{
        height: 105vh;
    }
  }
  @media screen and (min-width: 601px) and (max-width: 1025px){
    .menu {
      display: flex;
      flex-direction: column;
  
    }
    .menu a:hover{
      color: #232731;
    
    }
    .hack{
        
        margin-top: -14rem;
    }
    .menu li {
      display: none;
      flex-direction: column;
      position: absolute;
      background: #e5193d;
      margin-top: 30rem;
      right: 2rem;
      width: 50%;
      box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.9) ;
      padding-bottom: 1rem;
      border-radius: 10px;
      
    }
    .menu li a{
      box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.6) ;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    a:hover{
      color:#232731;
    }
    .menu .logo{
      display: block;
    }
  
    .container{
      width: 72%;
      height: 110vh;
      background-color: #232731;
      justify-content: center;
      font-family: "Gudea", sans-serif;
      
    }
    .social-logos2 {
        display: flex;
        justify-content: left;
        list-style: none;
        gap: 1rem;
        align-items: center;
        padding: 1rem;
        margin-left: 1rem;
        width: 30%;
        margin-top: 3rem;
      }
  
    .page1{
      height: 80vh;
    }
    .hackout{
        font-size: 40px;
        
    }
    
    .pagep{
      height: 80vh;
  
    }
  
    .title{
      width:39% ;
      font-size: 71px;
      font-weight: 600;
      margin-left: 1rem;
    }
  
    .page1 p{
      font-size: 20px;
      width: 80%;
      padding-top: 3rem;
      margin-left: 1rem;
      margin-bottom: -4rem;
  
    }
  
    .btn{
      font-size: 1rem;
      height: 25px;
      margin-left: 1rem;
      align-items: center;
  
    }
  
    .actions{
      display: flex;
      flex-direction: column;
    }
  
    .titleprizes{
      width: 100%;
    }
    .social-logos{
      padding: 0rem;
    }
    .icon {
      width: 25px;
      height: 25px;
      padding: 10px;
    }
  
    .icon img{
      height: 100%;
      width: 100%;
    }
    .hackout{
        position: relative;
        top: 20%;
        margin-left: 9rem;
    }
  
    .logo{
      height: 50px;
      margin-left: -25rem;
      padding: 10px;
    }
    nav button{
      display:inline-block;
      background: transparent;
      color:var(--color-light);
      font-size: 1.8rem;
      cursor: pointer;
    }
  
    nav button#close-btn {
        display: none;
        
        position: absolute;
        right: 2rem;
        color: #e5193d;
        border: none;
  
    }
    nav button#open-btn {
      display: flex;
      position: absolute;
      right: 2rem;
      color: #e5193d;
      border: none;
  
    }
    .titleprizes{
      width: 35%;
      margin: 0;
    }
    .speakers-sec{
      width: 100%;
      display: flex;
      flex-direction: column;
      
  
    }
    .speaker-card{
      width: 90%;
      padding: ;
      margin-top: 1rem;
    }
    .speaker-img{
       height: 100px;
       width: 100px;
    }
    .speaker-info{
      height: 100px;
      width: 100px;
   }
    .prizediv{
      background: #232731;
      padding: 15px;
      width: 100%;
      margin-left: -1rem;
    }
    .hide{
      display: none;
    }
    
  
   
    .footer-icon {
        width: 30px;
        height: 3vh;
        padding-left: .5rem;
      }
      .footer-icon2 {
        width: 30px;
        height: 3vh;
        padding-left: .5rem;
        
      }
    .socials{
        margin-left: 1rem;
    }
    .info{
        width: 88%;
        margin-left: 0rem;
        padding-left: 0rem;
        padding-left: 1.5rem;
        
                line-height: 3rem;
        
    }
    .coc{
        font-size: 32px;
        margin-left: 0rem;
        font-weight: 700;
    }
    .ss{
        padding-left: 0rem;
        font-size: 32px;
        font-weight: 700;
        margin-left: 5rem;
    }
    .copy{
        font-size: 32px;
        font-weight: 700;
    }
    .socials2{
        margin-left: 2.5rem;
        padding-left: 0rem;
    }
    .socials{
        margin-top: 3rem;
        margin-left: 10rem;
    }
    .title{
        font-size: 71px;
        width: 39%;
    }
    .colored-text{
        line-height: 4rem;
        font-size: 39px;
    }
    .social-logos{
  
    }
    body{
        overflow-x: hidden;
    }
    .hack{
      margin-top: 3rem;
    }
    .page1 .titleprizes{
      font-size: 3.5rem;
    }
    .hack .hackout{
      font-size: 3rem;
    }
    .socials .footer-icon{
      width: 100%;
      padding-left: 1rem;
      padding-right: 2rem;
      margin-right: 1rem;
  height: 4.5vh;  }
  
  
  
  
  
  .info .ss{
    font-size: 47.1px;
  }
  .container .page1{
    height: 82vh;
  }




  .news{
    height: 65vh;
    margin-left: 3.4rem;
   }
   .container{
       height: 100vh;
   }
   #elon{
       height: 22vh;
       width: 46%;
   }
   #musk{
       height: 22vh;
       width: 46%;
       margin-top: 2rem;
       margin-left: 2rem;
   }
   #idiot{
       height: 22vh;
       width: 46%;
       margin-top: 2rem;
   }
   .op{
       padding-left: 0;
   }
   .page1{
       height: 105vh;
   }
   .socials{
    margin-top: 0rem;
   }
   .footer-icon{
    height: 2rem;
    width: 2rem;
   }
  }
  @media screen and (min-width: 100px) and (max-width: 299px) {
    .menu {
      display: flex;
      flex-direction: column;

    }
    .menu a:hover{
      color: #232731;
    
    }
    .menu li {
      display: none;
      flex-direction: column;
      position: absolute;
      background: #e5193d;
      margin-top: 30rem;
      right: 2rem;
      width: 50%;
      box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.9) ;
      padding-bottom: 1rem;
      border-radius: 10px;
      
    }
    .menu li a{
      box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.6) ;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    a:hover{
      color:#232731;
    }
    .menu .logo{
      display: block;
    
    }

    .container{
      width: 50%;
      height: 107vh;
      background-color: #232731;
      justify-content: center;
      font-family: "Gudea", sans-serif;
      
    }

    .page1{
      height: 80vh;
    }
    
    .pagep{
      height: 80vh;

    }

    .title{
      width:90% ;
      font-size: 1.5rem;
      font-weight: 600;
      margin-left: 1rem;
    }
    .titlehead{
      font-size: 1.5rem;
      margin-left: 0;
    }

    .page1 p{
      font-size: 20px;
      width: 80%;
      padding-top: 3rem;
      margin-left: 1rem;
      margin-bottom: -4rem;
      margin-top: -1rem;
    }

    .btn{
      font-size: 1rem;
      height: 25px;
      margin-left: 1rem;
      align-items: center;

    }

    .actions{
      display: flex;
      flex-direction: column;
    }

    
    .social-logos{
      padding: 0rem;
    }
    .icon {
      width: 25px;
      height: 25px;
      padding: 10px;
    }

    .icon img{
      height: 100%;
      width: 100%;
    }

    .logo{
      height: 50px;
      margin-left: -25rem;
      padding: 10px;
    }
    nav button{
      display:inline-block;
      background: transparent;
      color:var(--color-light);
      font-size: 1.8rem;
      cursor: pointer;
    }

    nav button#close-btn {
        display: none;
        
        position: absolute;
        right: 2rem;
        color: #e5193d;
        border: none;

    }
    nav button#open-btn {
      display: flex;
      position: absolute;
      right: 2rem;
      color: #e5193d;
      border: none;

    }
    .titleprizes{
      width:fit-content;
      margin: 0;
      font-size: 34px;
    }
    .speakers-sec{
      width: 100%;
      display: flex;
      flex-direction: column;
      

    }
    .speaker-card{
      width: 90%;
      padding: ;
      margin-top: 1rem;
    }
    .speaker-img{
       height: 100px;
       width: 100px;
    }
    .speaker-info{
      height: 100px;
      width: 100px;
   }
    .prizediv{
      background: #232731;
      padding: 15px;
      width: 100%;
      margin-left: -1rem;
    }
    .hide{
      display: none;
    }
    

    .social-logos{
      display:  ;
    }
    .news{
     height: 86vh;
     margin-left: 3.4rem;
    }
    .container{
        height: 132vh;
    }
    #elon{
        height: 27vh;
        width: 67%;
    }
    #musk{
        height: 27vh;
        width: 67%;
        margin-top: 2rem;
    }
    #idiot{
        height: 27vh;
        width: 67%;
        margin-top: 2rem;
    }
    .op{
        padding-left: 0;
    }
    .page1{
        height: 105vh;
    }
    .socials{
        margin-left: 8rem;
        height: 6vh;
    }
    .footer-icon{
        width: 20px;
    }
    .titleprizes{
        margin-left: 1rem;
    }
  }