@import url("https://fonts.googleapis.com/css2?family=Gudea:ital,wght@0,400;0,700;1,400&display=swap");
body{
    font-family: "Gudea", sans-serif;
}
.faq-heading{
    border-bottom: #777;
    padding: 20px 60px;
}
.faq-container{
display: flex;
justify-content: center;
flex-direction: column;

}
.hr-line{
  width: 60%;
  margin-left: 3rem;
  display:none;
}
/* Style the buttons that are used to open and close the faq-page body */
.faq-page {
    /* background-color: #eee; */
    color: white;
    cursor: pointer;
    display: flex;
    padding: 30px 20px;
    height: 0.5rem;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    border: none;
    outline: none;
    transition: 0.4s;
    background: #D9D9D91A;
    margin-left: 3rem;

}
.faq-body{
    margin: auto;
    /* text-align: center; */
   width: 50%; 
   padding: auto;
   
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.faq-page:hover {
   
}

/* Style the faq-page panel. Note: hidden by default */
.faq-body {
   
    background-color: #232731;
    display: none;
    overflow: hidden;
    float: left;
    margin-left: 3rem;
}


.faq-page:after {
    content: '+';
    /* Unicode character for "plus" sign (+) */
    font-size: 13 px;
    color: #ffffff;
    float: right;
    margin-left: 5px;
}

.faq-body p{
    color: white;
    width: 100%;
    font-size: 20px;
}
.faq-body{
    margin-top: -1rem;}





    @media screen and (max-width: 399px) {
   
        .faq-body p{
            width: 95%;
            padding: 0;
            margin: 0;
            padding-bottom: 0.5rem;
            font-size: 1px;
        }
        .faq-page{
          font-size: 16px;
          margin-left: 0;
          width: 80%;
      }
        .hr-line{
            width: 90%;
            margin-top: -.5rem;
        }
        .faq-body {
            margin-left: 0;
            width: 80%;
            position: relative;
            margin-bottom: 1rem;
           
        }
        .title{
            width: 30%;
        }
       
    }













@media screen and (min-width:400px) and (max-width: 600px) {
   
    .faq-body p{
        width: 95%;
        padding: 0;
        margin: 0;
        padding-bottom: 0.5rem;
    }
    .faq-page{
        font-size: 20px;
        margin-left: 0;
        width: 90%;
    }
    .hr-line{
        width: 88%;
    }
    .faq-body {
        
        width: 100%;
    }

    
  
}






@media screen and (min-width: 600px) and (max-width: 1025px){
    .menu {
      display: flex;
      flex-direction: column;
  
    }
    .menu a:hover{
      color: #232731;
    
    }
    .hack{
        
        margin-top: -14rem;
    }
    .menu li {
      display: none;
      flex-direction: column;
      position: absolute;
      background: #e5193d;
      margin-top: 30rem;
      right: 2rem;
      width: 50%;
      box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.9) ;
      padding-bottom: 1rem;
      border-radius: 10px;
      
    }
    .menu li a{
      box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.6) ;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    a:hover{
      color:#232731;
    }
    .menu .logo{
      display: block;
    }
  
    .container{
      width: 72%;
      height: 110vh;
      background-color: #232731;
      justify-content: center;
      font-family: "Gudea", sans-serif;
      
    }
    .social-logos2 {
        display: flex;
        justify-content: left;
        list-style: none;
        gap: 1rem;
        align-items: center;
        padding: 1rem;
        margin-left: 1rem;
        width: 30%;
        margin-top: 3rem;
      }
  
    .page1{
      height: 80vh;
    }
    .hackout{
        font-size: 40px;
        
    }
    
    .pagep{
      height: 80vh;
  
    }
  
    .title{
      width:39% ;
      font-size: 71px;
      font-weight: 600;
      margin-left: 1rem;
    }
  
    .page1 p{
      font-size: 20px;
      width: 80%;
      padding-top: 3rem;
      margin-left: 1rem;
      margin-bottom: -4rem;
  
    }
  
    .btn{
      font-size: 1rem;
      height: 25px;
      margin-left: 1rem;
      align-items: center;
  
    }
  
    .actions{
      display: flex;
      flex-direction: column;
    }
  
    .titleprizes{
      width: 100%;
    }
    .social-logos{
      padding: 0rem;
    }
    .icon {
      width: 25px;
      height: 25px;
      padding: 10px;
    }
  
    .icon img{
      height: 100%;
      width: 100%;
    }
    .hackout{
        position: relative;
        top: 20%;
        margin-left: 9rem;
    }
  
    .logo{
      height: 50px;
      margin-left: -25rem;
      padding: 10px;
    }
    nav button{
      display:inline-block;
      background: transparent;
      color:var(--color-light);
      font-size: 1.8rem;
      cursor: pointer;
    }
  
    nav button#close-btn {
        display: none;
        
        position: absolute;
        right: 2rem;
        color: #e5193d;
        border: none;
  
    }
    nav button#open-btn {
      display: flex;
      position: absolute;
      right: 2rem;
      color: #e5193d;
      border: none;
  
    }
    .titleprizes{
      width: 35%;
      margin: 0;
    }
    .speakers-sec{
      width: 100%;
      display: flex;
      flex-direction: column;
      
  
    }
    .speaker-card{
      width: 90%;
      padding: ;
      margin-top: 1rem;
    }
    .speaker-img{
       height: 100px;
       width: 100px;
    }
    .speaker-info{
      height: 100px;
      width: 100px;
   }
    .prizediv{
      background: #232731;
      padding: 15px;
      width: 100%;
      margin-left: -1rem;
    }
    .hide{
      display: none;
    }
    
  
   
    .footer-icon {
        width: 30px;
        height: 3vh;
        padding-left: .5rem;
      }
      .footer-icon2 {
        width: 30px;
        height: 3vh;
        padding-left: .5rem;
        
      }
    .socials{
        margin-left: 1rem;
    }
    .info{
        width: 88%;
        margin-left: 0rem;
        padding-left: 0rem;
        padding-left: 1.5rem;
        
                line-height: 3rem;
        
    }
    .coc{
        font-size: 32px;
        margin-left: 0rem;
        font-weight: 700;
    }
    .ss{
        padding-left: 0rem;
        font-size: 32px;
        font-weight: 700;
        margin-left: 5rem;
    }
    .copy{
        font-size: 32px;
        font-weight: 700;
    }
    .socials2{
        margin-left: 2.5rem;
        padding-left: 0rem;
    }
    .socials{
        margin-top: 3rem;
        margin-left: 10rem;
    }
    .title{
        font-size: 71px;
        width: 39%;
    }
    .colored-text{
        line-height: 4rem;
        font-size: 39px;
    }
    .social-logos{
  
    }
    body{
        overflow-x: hidden;
    }
    .hack{
      margin-top: -18rem;
    }
    .title{
        width: 30%;
        margin-left: 8.5rem;
        
    }
    
  }





